*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html {
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(235, 235, 235);
}

.pop-up {
    position:absolute;
    width:25%;
    height:50%;
    top:25%;
    left:35%;
    text-align:center;
    border-radius: 10px;
    animation-name: pop-up;
    animation-duration: 2s;
}

h1 {
    color: #ca2149;
    font-size: 4rem;
}

p {
    color: #ca2149;
    font-size: 1rem;
}

@keyframes pop-up{
    0%{
    transform: scale(.1);
    }
    50%{
    transform: scale(1.4);
    }
    100%{
    transform: scale(1);
    }
}

a {
    color: #ca2149;
}
